.catmenu_container {
	width:96%;
	margin:0 2%;

	float:left;
	background-color:$actuallywhite;

    @media (min-width: $screen_medium) {
        width:25rem;
        margin:0 1rem;
    }

    @media (min-width: $screen_big) {
        margin:0 1rem 0 0;
    }

}

.catmenu li, .catmenu .catmenu_title {

    border-left:1px solid $gray;
	margin-top:-1px;

}



.catmenu ul {
	display: none;
	padding-left:3rem;

}

.catmenu a, .catmenu .catmenu_title {
	width:100%;
	color:$textcolor;
	padding:1rem;
	display:inline-block;
    transition:none;
}

.catmenu .catmenu_title {
	font-weight:700;

    background-color:$verygray;
    color:$almostwhite;
}

.catmenu a:hover, .catmenu li.active a:hover, .catmenu ul li.active a:hover {
	font-weight:700;
}

// Menu items and submenu items
.catmenu li.active a, .catmenu ul li.active a {
    font-weight:700;
    text-decoration: underline;
}
