$textcolor: #111;

$actuallywhite: #FFFFFF;
$almostwhite: #FAFAFA;
$notsowhite: #F5F5F5;

$graywhite: #EEEEEE;
$gray_lightest:#E0E0E0;
$gray_lighter:#BDBDBD;

$gray: #9E9E9E;
$gray_darker: #616161;
$verygray: #424242;
$gray_darkest: #212121;


$colora: #BAAB18;
$colora_lighter: #DACC38;
$colora_lightest: #F3E663;
$colora_darker: #998B04;

$colorb: #7CB342;
//$colora_lighter: #8BC34A;
//$colora_lightest: #9CCC65;
//$colora_darker: #558B2F;

//$colorb: #18BAAB;

$colorc: #D84315;
$colorc_lighter: #F4511E;
$colorc_darker: #BF360C;


/* Breakpoints */
$screen_small: 28.5em;
$screen_medium: 45em;
$screen_mediumbig: 60em;
$screen_big: 85em;
$screen_biggest: 100em;

$breakpoint_bestelling: 55em;
