.toolbar_admin {
    height:14rem;
    line-height:3rem;

    @media (min-width:500px) {
        height:10rem;   
    }
    @media (min-width:1000px) {
        height:8rem;   
    }
    @media (min-width:1260px) {
        height:3rem;   
        line-height:1.6rem;
    }
}

.toolbar_admin .toolbar_content {
    width:calc(100% - 2rem);
    margin:0 1rem;
}

.toolbar_admin_item {
    border-right:1px solid $colora;
    padding-right:1rem;
    padding-left:1rem;
    text-decoration:underline;
}

.admin_container {
	margin-top:2rem;
    font-size:1.4rem;

    a.btn {
        margin-bottom:1rem;
    }
}

.admin_hugecontainer {
	overflow:auto;
	width:100%;
    
}

.admin_container td {
	padding:1rem;
	border:1px solid $textcolor;
}

.admin_container table {
	margin:0 auto 2rem;
}

.admin_smallcol {
	padding:1rem;
	float:left;
	border:1px solid $textcolor;

    width:100%;
    margin: 0 0 2rem 0;

    @media (min-width:$screen-mediumbig) {
	    width:50%;
        margin: 0 25% 2rem;
    }
	

}

.admin_container form label {
	width:20rem;
	display:inline-block;
}

.admin_container form p {
	margin-bottom:1rem;
}

.admin_center {
	width:30rem;
	margin: 0 auto;
}

.admin_smallcol p {
	margin-bottom:1rem;
}

a.admin_active {
	//font-weight:600;
	//text-decoration:underline;
    color:$colora;
}

/* Delete confirmation-ish thing */

a.admin_delete {
	display:none;

}

