.admin_container {
	margin-top:2rem;
    font-size:1.4rem;
}

.admin_hugecontainer {
	overflow:auto;
	width:100%;
}

.admin_container td {
	padding:1rem;
	border:1px solid $textcolor;
}

.admin_container table {
	margin:0 auto 2rem;
}

.admin_smallcol {
	padding:1rem;
	float:left;
	width:50%;
	margin: 0 25% 2rem;
	border:1px solid $textcolor;
}

.admin_container form label {
	width:20rem;
	display:inline-block;
}

.admin_container form p {
	margin-bottom:1rem;
}

.admin_center {
	width:30rem;
	margin: 0 auto;
}

.admin_smallcol p {
	margin-bottom:1rem;
}

a.admin_active {
	//font-weight:600;
	//text-decoration:underline;
    color:$colora;
}

/* Delete confirmation-ish thing */

a.admin_delete {
	display:none;

}

