/* Large cover photos for Home */
.home_carius {
	background-image: url('../images/home/carius.jpg');
}
.home_keramiek {
	background-image: url('../images/home/keramiek.jpg');
}

.home_chandra {
	background-image: url('../images/home/chandra.jpg');
}
.home_sierkeien {
	background-image: url('../images/home/sierkeien.jpg');
}
