/* Large cover photos for Home */
.home_vietnamees {
	background-image: url('../images/home/vietnamees.jpg');
}
.home_indisch {
	background-image: url('../images/home/indisch.jpg');
}
.home_chinees {
	background-image: url('../images/home/chinees.jpg');
}
.home_carius {
	background-image: url('../images/home/carius.jpg');
}
.home_keramiek {
	background-image: url('../images/home/keramiek.jpg');
}
