/* Home */
.home_vietnamees {
	background-image: url('../images/home/vietnamees.jpg');
}
.home_indisch {
	background-image: url('../images/home/indisch.jpg');
}
.home_chinees {
	background-image: url('../images/home/chinees.jpg');
}


/* Categorie overzicht */
.categorie_overzicht .producten_vietnamees {
	background-image: url('../images/cover_categorie_overzicht/vietnamees.jpg');
}
.categorie_overzicht .producten_indisch {
	background-image: url('../images/cover_categorie_overzicht/indisch.jpg');
}
.categorie_overzicht .producten_chinees {
	background-image: url('../images/cover_categorie_overzicht/chinees.jpg');
}

/* Foto per categorie */
.categorie_overzicht .producten_vietnamees_getrommeld {
	background-image: url('../images/cover_fotos_categorie/vietnamees_getrommeld.jpg');	
}
.categorie_overzicht .producten_vietnamees_geschuurd_gezaagd {
	background-image: url('../images/cover_fotos_categorie/vietnamees_geschuurd_gezaagd.jpg');	
}



