.categorie_overzicht {
	background-color:$almostwhite;
	overflow:hidden;
	padding:1rem;

    h2 {
        font-size:2.2rem;
        padding:1rem 0 1rem 1.5%;

        margin-bottom:2rem;
        //border-bottom:1px solid $colora;
        //border-right:1px solid $colora;
    }

    article {	
        overflow:hidden;
        position:relative;  

        margin-bottom: 7rem;

        width:100%;
        float:left;
        margin:1rem 0;

        @media (min-width: $screen_mediumbig) {
            width:31.33333%;
            float:left;
            margin:0 1% 2%;           
        }       
    }

    img {
        width:100%;
        float:left;
        //object-fit:cover;
    }
}



.categorie_overzicht .producten_caption {
    position:absolute;
    bottom:5rem;
    width:100%;
    background-color:$verygray;
    opacity: 0.9;

    a {
        width:100%;
        height:5rem;
        line-height:5rem;
        display:block;
        
        font-size:2rem;
        text-align:center;
        
        color:$almostwhite;

        &:hover {
            color:$colora;
            background-color:$gray_darkest;
        }

        @media (min-width: $screen_big) {
            font-size:1.5rem;
        }
        @media (min-width: $screen_biggest) {
            font-size:2rem;
        }
    }
}

