/* Container */

.homecontainer article {
	overflow:hidden;

	background-size:cover;
	//background-repeat:repeat-y;
	background-position:center top;

	//background-attachment: fixed;	
	
	height:40rem;
	margin-bottom: 7rem;

    @media screen and (min-width: 90em) {
        height:60rem;

        .home_caption {
            margin-top: 50rem;
        }
    }	
}

.homecontainer img {
	width:100%;
}

.homecontainer  {  
    .home_caption {
        width:100%;
        margin-top:30rem;

        background-color:$verygray;
        opacity: 0.9;

        a {
            width:100%;
            height:5rem;
            line-height:5rem;
            display:block;
            
            font-size:2rem;
            text-align:center;
            
            color:$almostwhite;

            &:hover {
                color:$colora;
                background-color:$gray_darkest;
            }
        }
    }
}

/* End of Container */


