// Check background_images.scss for homepage background images
.homecontainer  {  
    .hometext {
        background-color: $verygray;
        color:$almostwhite;
        padding:3rem;
        margin:6rem 0;
        text-align:center;

        a {
            margin:2rem 0 0 2rem;
            display:block;

            @media (min-width:$screen-medium) {
                margin:0 0 0 2rem;
                display:inline-block;
            }
        }
    }

    .homepromo {
        border:1px solid $verygray;
        background-color:$actuallywhite;
        margin:6rem 0 0;
        
        .producten_content {
            background-color:$actuallywhite;
            padding:1rem;

            article {

                padding-bottom:2rem;
                margin-bottom:4rem;  
                border-bottom:1px solid $textcolor;

                @media (min-width: $screen-mediumbig) {
                    margin:0 1% 2%;
                    padding-bottom:1rem;
                    border:0;
                }
            }
        }
        .homepromo_banner {
            background-color:$verygray;
            color:$almostwhite;
            line-height:3rem;
            margin-bottom:1rem;
            padding:1rem 0 1rem 3rem;

            h2 {
                font-weight:800;
                font-size:3rem;
                margin-right:3rem;
                display:inline-block;
            }
        }
        
    }

    .roundimg {
        border-radius:50px;
    }

    .nicest_products {
        article {
            overflow:hidden;
            width:49%;
            float:left;
            height:40rem;
            margin-bottom: 7rem;

            background-size:cover;
            //background-repeat:repeat-y;
            background-position:center top;
            //background-attachment: fixed;	

            @media screen and (min-width: 70em) {
                height:50rem;

                .home_caption {
                    margin-top: 40rem;
                }
            }	

        } 

        img {
            width:100%;
        }

        .home_caption {
            width:100%;
            margin-top:30rem;

            background-color:$verygray;
            opacity: 0.9;

            span {
                transition: 0.4s ease-in-out;
                width:100%;
                
                height:10rem;
                font-size:1.5rem;
                line-height:3rem;
                
                display:block;
                
                text-align:center;
                
                color:$almostwhite;

                @media (min-width: 380px) {
                    height:6rem;
                    font-size:1.5rem;
                    line-height:3rem;
                }

                @media (min-width: 500px) {
                    line-height:6rem;
                }

                @media (min-width: $screen-medium) {
                    height:5rem;
                    font-size:2rem;
                    line-height:5rem;
                }
            }
        }

        a:hover article {
            box-shadow:3px 3px 2px 0 rgba(0,0,0,0.30);

            .home_caption span {
                color:$colora;
                background-color:$gray_darkest; 
            }

        }
    }
}

.mgright-2pct {
    margin-right:2%;
}