// Check background_images.scss for homepage background images
.homecontainer  {

    .hometext {
        background-color: $verygray;
        color:$almostwhite;
        padding:3rem;
        margin:6rem 0;
        text-align:center;

        a {
            margin:2rem 0 0 2rem;
            display:block;

            @media (min-width:$screen-medium) {
                margin:0 0 0 2rem;
                display:inline-block;
            }
        }

    }

    article {
        overflow:hidden;

        background-size:cover;
        //background-repeat:repeat-y;
        background-position:center top;
        //background-attachment: fixed;	
        
        height:40rem;
        margin-bottom: 7rem;

        @media screen and (min-width: 70em) {
            height:50rem;

            .home_caption {
                margin-top: 40rem;
            }
        }	
    } 

    img {
        width:100%;
    }

    .home_caption {
        width:100%;
        margin-top:30rem;

        background-color:$verygray;
        opacity: 0.9;

        span {
            transition: 0.4s ease-in-out;

            width:100%;
            height:5rem;
            line-height:5rem;
            display:block;
            
            font-size:2rem;
            text-align:center;
            
            color:$almostwhite;
        }
    }

    a:hover article {
        box-shadow:3px 3px 2px 0 rgba(0,0,0,0.30);

        .home_caption span {
            color:$colora;
            background-color:$gray_darkest; 
        }

    }
}

