.toolbar_content_small {
	width:60%;
	margin:0 20%;
	padding:0.5rem 0;
}

.login_panel {
	width:60%;
	margin: 0 auto;
	margin-top:4rem;
}

.login_panel input {
	margin-bottom:1rem;
}

.login_panel label {
	display:inline-block;
	width:20rem;
}

.login_panel h2 {
	margin-bottom:2rem;
}
.login_handelaar {
	margin-top:1rem;
}
.login_handelaar p {
	line-height:2.4rem;
	margin-left:1rem;
}

