
/* General stuff */

html {
	font-size:62.5%;
}

body {
	font-size:1.6rem;
	font-family: "Verdana", sans-serif;

	background-color: $almostwhite;
	min-width:30rem;
}

	/* Content widths */
	.container {
		margin: 0 auto;
		width:100%;
		background-color:$almostwhite;

	}

	header {
		width:96%;
		margin:1.5rem 2%;
		height:12rem;
	}
	.toolbar_content {
		width:96%;
		margin:0 2%;
		padding:0.5rem 0;
	}

	.homecontainer {
		width:96%;
		margin: 0 2%;
		background-color:$almostwhite;
	
	}
	/* End of content widths */


a {
	text-decoration:none;
	color:$colora_darker;
	transition:0.4s ease-in-out;
}


a:hover {
	color:$colora;
}

p {
	line-height:2.4rem;
}

ul, li {
	list-style:none;
}

.clear {
	clear:both;
}

	/* General but more specific stuff */
	input[type=submit] {
		background-color:$colorb;
		color:$almostwhite;
		display:inline-block;

		box-shadow: 0 1px 3px rgba(0,0,0,0.20);
		border-radius: 5px;
		border:0;
		
		padding:1rem 2rem;
		margin-top:1rem;
		font-size:1.6rem;

		transition: 0.4s ease-in-out;
	}

	input[type=submit]:hover {
		background-color:$colorb_lighter;
		box-shadow: 2px 3px 5px rgba(0,0,0,0.25);
	}

	.btn {
		padding:1rem 2rem;

		display:inline-block;
		border-radius: 5px;		
	}

	a.btn {
		background-color:$colorb;
		color:$almostwhite;
		box-shadow: 0 1px 3px rgba(0,0,0,0.20);
	}

	a.btn:hover {
		background-color:$colorb_lighter;
		box-shadow: 2px 3px 5px rgba(0,0,0,0.25);
	}


	.btn_warning { 
		color:$almostwhite;
		background-color:$colorb;
	}

	.txt_warning {
		color:$colorb;
	}

	a.boringlink {
		color:$textcolor;
	}
	a.boringlink:hover {
		text-decoration:underline;
	}

	/* End of General but more specific stuff */

/* End of General stuff */


/* Toolbar */

.toolbar {
	width:100%;
	height:3rem;

	background-color:$verygray;
	color:$almostwhite;
}

.toolbar a {
	color:$almostwhite;
}

.toolbar a:hover {
	text-decoration: underline;
}

.toolbar a.active {
	text-decoration: underline;
}

.toolbar div {
	float:left;
}

.toolbar .toolbar_right {
	float:right;

}

.toolbar_account {
	margin-left:1rem;
}

.toolbar_contact {
	padding:0 1rem;
	border-right: 1px solid $colora;
	display:none;
}



/* End of Toolbar */


/* Menu */

header .logo {
	width:100%;
}

header img {
	height:100%;
	max-width:30rem;
}

header li {
	list-style: none;
}
header li a {
	display:inline-block;
	float:left;
	
	padding:1rem;
	height:6rem;
	line-height:6rem;

	font-size:1.8rem;
	color:$textcolor;
}
header li:first-of-type a {
	padding-left:0;
}
header li a.active {
	color:$colora_darker;
}
header li a:hover {
	color:$colora_darker;
}

header .header_bestelling {
	float:right;
	font-size:1.8rem;
	position:absolute;
	top:4rem;
	right:1rem;
}

header .header_bestelling a {
	color:$textcolor;
}

header .header_bestelling a:hover {
	text-decoration:underline;
}

/* End of Menu */


/* Media queries */
	@media (min-width: $screen_small) {
		header li a {
			padding: 1rem 3rem;
			font-size:2rem;
		}
	}


	@media (min-width: $screen_medium) {


		/* Toolbar */


		.toolbar_account {
			margin-left:5rem;
		}

		.toolbar_contact {
			display:block;
		}

		/* End of Toolbar */

		/* Menu */

		header img {
			max-height:6rem;
			height:auto;
			max-width:auto;
		}
		header .logo {
			width:auto;
		}

		header {
			height:11rem;
		}

		header li a {
			padding: 0 3rem;
		}

		



		header .header_bestelling {
			position: relative;
			top:0; right:0;
			float:right;
			margin-left:2rem;
			
			height:6rem;
			width:18rem;

		}

		header .header_bestelling a {
			line-height:6rem;
		}

		
		/* End of menu */

	}

	@media (min-width:$breakpoint_bestelling) {
		header .header_bestelling {
			margin-left:0;
			height:auto;
			width:auto;

		}

		header {
			height:6rem;
		}
	}

	@media (min-width: $screen_big) {

		/* Content widths */
		.container {
			margin: 0 auto;
			width:70%;

		}

		header {
			width:70%;
			margin:1.5rem 15%;
			height: 6rem;
		}

		.toolbar_content {
			width:70%;
			margin:0 15%;

		}

		.homecontainer {
			width:70%;
			margin: 0 15%;	
		}
		/* End of content widths */	




	}
/* End of media queries */
