/* General stuff */
html {
	font-size:62.5%;
    height:100%;
}

body {
	font-size:1.6rem;
	font-family: "Verdana", sans-serif;

	background-color: $actuallywhite;
	min-width:30rem;

    height:100%;
}

/* Content widths */
.container {
    margin: 0 auto;
    width:100%;
    background-color:$actuallywhite;

    padding-bottom:4rem;

    @media (min-width: $screen_big) {
        width:70%;
    }
}

/* Wrap around everything (also header and toolbar) for sticky footer */
.contentwrapper {
    
    min-height:100%;
    margin-bottom:-28rem;
}


header {
    width:96%;
    margin:1.5rem 2%;
    height:12rem;

    @media (min-width: $screen_medium) {
        height:11rem;
    }
    @media (min-width:$breakpoint_bestelling) {
        height:6rem;
    }
    @media (min-width: $screen_big) {
        width:70%;
        margin:1.5rem 15%;
        height: 6rem;
    }
}
.toolbar_content {
    width:96%;
    margin:0 2%;
    padding:0.5rem 0;

    @media (min-width: $screen_big) {
        width:70%;
        margin:0 15%;
    }
}

.homecontainer {
    width:96%;
    margin: 0 2%;
    background-color:$almostwhite;

    @media (min-width: $screen_big) {
        width:70%;
        margin:0 15%;
    }

}
/* End of content widths */


a {
	text-decoration:none;
	color:$colora;
	transition:0.2s ease-in-out;
}


a:hover {
	color:$colora_lighter;
    text-decoration:underline;
}

p {
	line-height:2.4rem;
}

ul, li {
	list-style:none;
}

.clear {
	clear:both;
}

	/* General but more specific stuff */
	input[type=submit] {
		background-color:$colora;
		color:$almostwhite;
		display:inline-block;

		box-shadow: 0 1px 3px rgba(0,0,0,0.20);
		border-radius: 5px;
		border:0;
		
		padding:1rem 2rem;
		margin-top:1rem;
		font-size:1.6rem;

		transition: 0.4s ease-in-out;
        cursor:pointer;
	}

	input[type=submit]:hover {
		background-color:$colora_lighter;
		box-shadow: 2px 3px 5px rgba(0,0,0,0.25);
        text-decoration:none;
	}

	.btn {
		padding:1rem 2rem;

		display:inline-block;
		border-radius: 5px;		
	}

	a.btn {
		background-color:$colora;
		color:$almostwhite;
		box-shadow: 0 1px 3px rgba(0,0,0,0.20);
	}

	a.btn:hover {
		background-color:$colora_lighter;
		box-shadow: 2px 3px 5px rgba(0,0,0,0.25);
        text-decoration:none;
	}


	.btn_warning { 
		color:$almostwhite;
		background-color:$colorb;
	}

	.txt_warning, .boringlink.txt_warning {
		color:$colorc;
	}

	a.boringlink {
		color:$textcolor;
	}
	a.boringlink:hover {
		text-decoration:underline;
	}

    .quote:before, .quote:after {
        font-family:serif;
        font-weight:800;
        

    }

    .quote:after {
        content: " \201D";
        font-size:2rem;
    }

    .quote:before {
        content: "\201C ";
        font-size:3rem;
    }


	/* End of General but more specific stuff */

/* End of General stuff */


/* Toolbar */

.toolbar {
	width:100%;
	height:3rem;
	background-color:$verygray;
	color:$almostwhite;

    font-size:1.2rem;

    @media (min-width: $screen_small) {
        font-size:1.6rem;
    }

    
}

.toolbar a {
	color:$almostwhite;
}

.toolbar a:hover, .toolbar a.active:hover {
	//text-decoration: underline;
    color:$colora_lightest;
}

.toolbar a.active {
	//text-decoration: underline;
    color:$colora;
}

.toolbar div {
	float:left;
}

.toolbar .toolbar_right {
	float:right;

}

.toolbar_account {
	margin-left:1rem;

    @media (min-width: $screen_medium) {
        margin-left:5rem;
    }
}

.toolbar_contact {
	padding:0 1rem;
	border-right: 1px solid $colora;
	display:none;

    @media (min-width: $screen_mediumbig) {
        display:block;
    }
	
}



/* End of Toolbar */


/* Menu */

header .logo {
	width:100%;

    @media (min-width: $screen_medium) {
        width:auto;
    }
}

header img {
	height:100%;
	max-width:30rem;

  	@media (min-width: $screen_medium) {
        max-height:6rem;
        height:auto;
        max-width:auto;
    }  
}

header li {
	list-style: none;
}

header li a {
	display:inline-block;
	float:left;
	
	padding:1rem;
	height:6rem;
	line-height:6rem;

	font-size:1.8rem;
	color:$textcolor;

    @media (min-width: $screen_small) {
        padding: 1rem 3rem;
        font-size:2rem;
	}
    @media (min-width: $screen_medium) {
        padding: 0 3rem;
    }

}

header li:first-of-type a {
	padding-left:0;
}

header li a.active {
	color:$colora;
}

header li a:hover {
	color:$colora_lighter;
    text-decoration:none;
}

header .header_bestelling {
	float:right;
	font-size:1.8rem;
	position:absolute;
	top:4rem;
	right:1rem;

    @media (min-width: $screen_medium) {
        position: relative;
        top:0; right:0;
        float:right;
        margin-left:2rem;
        
        height:6rem;
        width:22rem;
    }
    @media (min-width:$breakpoint_bestelling) {
        margin-left:0;
        height:auto;
        width:auto;
    }
}

header .header_bestelling a {
	color:$textcolor;

    @media (min-width: $screen_medium) {
        line-height:6rem;
    }
}

header .header_bestelling a:hover {
	text-decoration:underline;
    color:$colora_lighter;
}

.order-icon {
    height:2rem;
    float:left;
    
    margin-top:0.2rem;
    margin-right:0.5rem;

    @media (min-width: $screen_medium) {
        margin-top:2rem;
    }
}
/* End of Menu */
