/* Menu styles */
.catmenu_container {
	width:96%;
	margin:0 2%;
	float:left;
	background-color:$actuallywhite;

    @media (min-width: $screen_medium) {
        width:25rem;
        margin:1rem;
    }

    @media (min-width: $screen_big) {
        margin:0;
    }

}

.catmenu li, .catmenu .catmenu_title {
	height:4rem;
	border:1px solid $gray;
	margin-top:-1px;
}

.catmenu .catmenu_title {
	font-weight:600;
	background-color:$almostwhite;
}

.catmenu ul {
	display: none;
	padding-left:3rem;

}

.catmenu a, .catmenu .catmenu_title {
	width:100%;
	color:$textcolor;
	padding:1rem;
	display:inline-block;
}

.catmenu a:hover {
	color:$colora_darker;
}

// Menu items and submenu items
.catmenu li.active a, .catmenu ul li.active a {
    //font-weight:600;
    color:$colora;
}
/* End of Menu styles */

/* Producten content, Categorie overzicht */
.categorie_overzicht, .producten_content {
	background-color:$almostwhite;
	overflow:hidden;
	padding:1rem;
}

.producten_content h2, .categorie_overzicht h2 {
	font-size:2.2rem;
	padding:1rem 0 1rem 1%;

	margin-bottom:2rem;
	border-bottom:1px solid $colora;
	border-right:1px solid $colora;
}
	
/* Producten Overzicht */
.producten_content {
    @media (min-width: $screen_big) {
        padding:0;
    }
    @media (min-width: $screen_biggest) {
        padding:1rem;
    }

    article {
        border: 1px solid $gray_lighter;
        box-shadow:1px 1px 2px 0 rgba(0,0,0,0.18);
        padding: 1rem;
        font-size:1.4rem;
        background-color:$actuallywhite;

        &:hover {
            box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);
        }

        @media (min-width: $screen_big) {
            padding:0.5rem;
        }
        @media (min-width: $screen_biggest) {
            padding:1rem;
        }

        h1 {
            margin:1rem 0;
            font-size:1.8rem;
            font-weight:800;

            @media (min-width: $screen_mediumbig) {
                font-size:1.5rem;
            }
            @media (min-width: $screen_biggest) {
                font-size:1.8rem;
            }
        }

        p {
            margin-bottom: 2rem;
      
            @media (min-width: $screen_mediumbig) {
                font-size:1.2rem;
            }
            @media (min-width: $screen_biggest) {
                font-size:1.4rem;
            }
        }

        li {
            @media (min-width: $screen_mediumbig) {
                font-size:1.3rem;
            }
            @media (min-width: $screen_biggest) {
                font-size:1.6rem;
            }
        }
    }

    ul {
        margin-bottom: 2rem;
        font-size:1.6rem;
	}

    li {
		height:2.2rem;
	}
}
/* End of producten overzicht */


/* Categorie overzicht */
.categorie_overzicht article, .producten_content article {	
    overflow:hidden;

    background-size:cover;
    background-position:center top;				
    margin-bottom: 7rem;

    width:100%;
    float:left;
    margin:1rem 0;

    @media (min-width: $screen_mediumbig) {
        width:31.33333%;
        float:left;
        margin:0 1% 2%;           
    }
    
}
.categorie_overzicht article {
    height:40rem;
}

.categorie_overzicht img, .producten_content img {
    width:100%;
}

    /* Articles */
    .categorie_overzicht_article, .producten_content_article  {
        position:relative;

    }

    .categorie_overzicht_article img {
        object-fit:cover;
        height:100%;
    }

    /* Caption */
    .categorie_overzicht .producten_caption {
        position:absolute;
        bottom:5rem;
        width:100%;
        background-color:$verygray;
        opacity: 0.9;

        a {
            width:100%;
            height:5rem;
            line-height:5rem;
            display:block;
            
            font-size:2rem;
            text-align:center;
            
            color:$almostwhite;

            &:hover {
                color:$colora;
                background-color:$gray_darkest;
            }

            @media (min-width: $screen_big) {
                font-size:1.5rem;
            }
            @media (min-width: $screen_biggest) {
                font-size:2rem;
            }
        }
    }

    /* End of Articles */
/* End of Categorie overzicht*/



/* Order */
.ordercontent {
    h2 {
	    margin:5rem 0 2rem;
    }

    padding:1rem;
    @media (min-width:$screen-big) {
        padding:0;
    }
}
/* End of Order */

/* Breadcrumb */
.breadcrumb {
	height:4rem;
	padding:0 1rem;
	margin-bottom:1rem;
	background-color:$almostwhite;

    @media (min-width: $screen_medium) {
        height:4rem;
    }

    p {
        line-height:2rem;
        font-size:1.4rem;

        @media (min-width: $screen_medium) {
            line-height:4rem;
            font-size:1.6rem;        
        }
        
    }
}


/* End of Breadcrumb */

