/* Menu styles */
.catmenu_container {
	width:25rem;
	float:left;
	background-color:$graywhite;

}

.catmenu li, .catmenu .catmenu_title {
	height:4rem;
	border:1px solid $gray;
	margin-top:-1px;
}

.catmenu .catmenu_title {
	font-weight:600;
	background-color:$almostwhite;
}

.catmenu ul {
	display: none;
	padding-left:3rem;

}

.catmenu a, .catmenu .catmenu_title {
	width:100%;
	color:$textcolor;
	padding:1rem;
	display:inline-block;
}

.catmenu a:hover {
	color:$colora_darker;
}

 .catmenu li.active a {
 	font-weight:600;
 }
/* End of Menu styles */

/* Producten content, Categorie overzicht */
.categorie_overzicht, .producten_content {
	background-color:$notsowhite;
	overflow:hidden;

	padding-top:1rem;
	padding-left:2rem;
}


.producten_content h2, .categorie_overzicht h2 {
	font-size:2.2rem;
	padding:1rem 0 1rem 1%;

	margin-bottom:2rem;
	border-bottom:1px solid $colora;
	border-right:1px solid $colora;
	
}


	
/* Producten Overzicht */

	/* Producten overzicht */
	.producten_content article {
		border: 1px solid $gray_lighter;
		padding: 1rem;
		font-size:1.4rem;
	}

	.producten_content article h1 {
		margin:1rem 0;
		font-size:1.8rem;
		font-weight:400;
	}
	.producten_content ul {
		margin-bottom: 2rem;
		font-size:1.6rem;
	}
	.producten_content li {
		height:2.2rem;
	}
	.producten_content article p {
		margin-bottom: 2rem;
	}
	/* End of producten overzicht */


	/* Categorie overzicht */
	.categorie_overzicht article, .producten_content article {	
		overflow:hidden;

		background-size:cover;
		background-position:center top;				
		margin-bottom: 7rem;

		width:31.33333%;
		float:left;
		margin:0 1% 2%;
		
	}
	.categorie_overzicht article {
		height:40rem;
	}

	.categorie_overzicht img, .producten_content img {
		width:100%;
	}

		/* Articles */
		.categorie_overzicht_article, .producten_content_article  {
			position:relative;

		}

		.categorie_overzicht_article img {
			object-fit:cover;
			height:100%;
		}

			/* Caption */
			.categorie_overzicht .producten_caption {
				position:absolute;
				bottom:5rem;
				width:100%;
			}


			.categorie_overzicht .producten_caption {
				background-color:$verygray;
				opacity: 0.9;
			}

			.categorie_overzicht .producten_caption a {
				width:100%;
				height:5rem;
				line-height:5rem;
				display:block;
				
				font-size:2rem;
				text-align:center;
				
				color:$almostwhite;
			}

			.categorie_overzicht .producten_caption a:hover {
				color:$colora;
				background-color:$gray_darkest;
			}
			/* End of caption */

		/* End of Articles */




	/* End of Categorie overzicht*/

/* End of producten overzicht */

/* Order */

.ordercontent h2 {
	margin:5rem 0 2rem;
}

/* End of Order */

/* Breadcrumb */
.breadcrumb {
	height:4rem;
	padding:0 1rem;
	margin-bottom:1rem;
	background-color:$notsowhite;
}

.breadcrumb p {
	line-height:4rem;
}

/* End of Breadcrumb */