$textcolor: #111;

$actuallywhite: #FFFFFF;
$almostwhite: #FAFAFA;
$notsowhite: #F5F5F5;

$graywhite: #EEEEEE;
$gray_lightest:#E0E0E0;
$gray_lighter:#BDBDBD;

$gray: #9E9E9E;
$gray_darker: #616161;
$verygray: #424242;
$gray_darkest: #212121;


// $colora: #CDDC39;
// $colora_lighter: #DCE775;
// $colora_darker: #AFB42B;
$colora: #7CB342;
$colora_lighter: #8BC34A;
$colora_darker: #558B2F;

$colorb: #D84315;
$colorb_lighter: #F4511E;
$colorb_darker: #BF360C;


/* Breakpoints */
$screen_small: 28.5em;
$screen_medium: 45em;
$screen_mediumbig: 60em;
$screen_big: 75em;
$screen_biggest: 100em;

$breakpoint_bestelling: 55em;
