$textcolor: #111;

$almostwhite: #FAFAFA;
$notsowhite: #F5F5F5;

$graywhite: #EEEEEE;
$gray_lightest:#E0E0E0;
$gray_lighter:#BDBDBD;

$gray: #9E9E9E;
$gray_darker: #616161;
$verygray: #424242;
$gray_darkest: #212121;



$colora: #CDDC39;
$colora_lighter: #DCE775;
$colora_darker: #AFB42B;